* {
  margin: 0;
  padding: 0;
}

.transactionHistory {
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 3px;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 872px;
  border-collapse: collapse;
  font-family: "HelveticaNeueCyr";
}

.transactionHistory > thead {
  font-size: 13px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  background-color: rgb(0, 188, 212);
}

.transactionHistory > tbody {
  font-size: 15px;
  color: rgb(92, 105, 117);
}

.transactionHistory td:first-child {
  width: 176px;
  padding-left: 112px;
}

.transactionHistory td:first-child::first-letter {
  text-transform: uppercase;
}

.transactionHistory td:not(:first-child) {
  text-align: center;
}

.transactionHistory tbody tr:nth-child(2n) {
  background-color: rgb(236, 242, 243);
}

.transactionHistory td:not(:first-child),
.transactionHistory th:not(:first-child) {
  width: 288px;
  height: 50px;
  border: 2px solid rgb(224, 230, 231);
}

.transactionHistory td,
.transactionHistory th {
  border: 2px solid rgb(224, 230, 231);
}
